.slide-component {
  display: inline-block;
  margin: 0 20vw;
  width: 60vw;
  z-index: 10;

  img, .slide-text {
    display: inline-block;
    vertical-align: middle;
  }
  img {
    width: 40%;
  }

  .slide-text {
    width: 50%;
    margin-left: 10%;
    background-image: url(/images/zigzag.png);
    background-repeat: no-repeat;
    background-position: left 62px;
    h5 {
      max-width: 400px;
      color: #b7b7b7;
      font-weight: 300;
      margin-top: 64px;
      line-height: 1.666666666;
    }
    button {
      margin-top: 40px;
    }
  }
}
