@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
body {
  background: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, a, button, img, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5 {
  font-weight: 700; }

h6, p {
  font-weight: 300;
  color: #b7b7b7; }

h1 {
  font-size: 58px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1; }

h2 {
  font-size: 48px;
  text-transform: uppercase;
  color: #464646; }

h3 {
  font-size: 30px;
  color: #464646; }

h4 {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff; }

h5 {
  font-size: 18px;
  color: #464646; }

h6 {
  font-size: 14px; }

p {
  font-size: 17px; }

button {
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  width: 163px;
  height: 56px;
  border-radius: 3px;
  border: none;
  background-color: #e92121;
  cursor: pointer; }

#header {
  background-image: url(/images/header-background.jpg);
  width: 100%;
  padding-bottom: 216px; }
  #header .header h4, #header .header h1, #header .header button, #header .header .decoration-btn {
    margin-left: 20px; }
  #header .header h4 {
    padding-top: 33px;
    display: inline-block; }
    #header .header h4:nth-of-type(2) {
      display: block;
      font-weight: 100;
      text-transform: none;
      padding-top: 242px; }
  #header .header ul {
    display: inline-block;
    margin-left: 317px; }
  #header .header li {
    font-size: 14px;
    display: inline-block;
    margin: 0 18px; }
  #header .header a {
    color: #fff; }
  #header .header h1 {
    padding: 22px 0;
    max-width: 570px; }
  #header .header .decoration-btn {
    border: 2px solid #fff;
    background: none;
    margin-left: 20px; }

#page-content {
  width: 100%; }

.header, #history, #process, .work, #about, .customer-feedback, #news, .footer-content {
  max-width: 980px;
  width: 90%;
  margin: 0 auto; }

#history .history {
  padding: 80px 0; }
  #history .history h2 {
    max-width: 300px;
    line-height: 1.25;
    display: inline-block;
    width: 45%;
    margin: 0 171px 0 15px;
    vertical-align: middle; }
  #history .history .history-paragraph {
    display: inline-block;
    width: 49%;
    vertical-align: middle; }
    #history .history .history-paragraph p {
      margin: 10px 0;
      line-height: 1.875; }

.span {
  width: 100%;
  height: 1px;
  background-color: #f1f1f1; }

#process {
  padding: 100px 0; }
  #process .process-heading {
    text-align: center;
    background-image: url(/images/zigzag.png);
    background-repeat: no-repeat;
    background-position: center; }
    #process .process-heading h3 {
      padding-bottom: 53px; }
    #process .process-heading h5 {
      font-weight: 300;
      color: #b7b7b7;
      padding-top: 5px; }
  #process ul {
    max-width: 980px;
    padding-top: 124px; }
  #process li {
    width: 33%;
    display: inline-block;
    max-width: 250px;
    padding-right: 69px;
    padding-bottom: 74px; }
    #process li.store {
      background-image: url(/images/store-icon.png); }
    #process li.decoration {
      background-image: url(/images/decoration-icon.png); }
    #process li.payment {
      background-image: url(/images/payment-icon.png); }
    #process li.calendar {
      background-image: url(/images/calendar-icon.png); }
    #process li.thumbs-up {
      background-image: url(/images/thumbs-up-icon.png); }
    #process li.heart {
      background-image: url(/images/heart-icon.png); }
    #process li.store, #process li.decoration, #process li.payment, #process li.thumbs-up, #process li.calendar, #process li.heart {
      background-repeat: no-repeat;
      background-position: top left; }
    #process li.calendar, #process li.heart {
      vertical-align: top; }
    #process li.payment, #process li.heart {
      padding-right: 0; }
    #process li h5 {
      padding-top: 90px; }
    #process li p {
      padding-top: 30px;
      line-height: 1.5; }

#work {
  background-color: #faf9f9;
  padding: 110px 0; }
  #work .work img, #work .work .work-text {
    display: inline-block;
    vertical-align: middle; }
  #work .work .work-text {
    width: 50%;
    margin-left: 75px;
    background-image: url(/images/zigzag.png);
    background-repeat: no-repeat;
    background-position: left 62px; }
    #work .work .work-text h5 {
      max-width: 400px;
      color: #b7b7b7;
      font-weight: 300;
      margin-top: 64px;
      line-height: 1.666666666; }
    #work .work .work-text button {
      margin-top: 40px; }

#about {
  padding: 100px 0; }
  #about .about-text {
    display: inline-block;
    max-width: 425px;
    width: 50%;
    line-height: 1.875; }
    #about .about-text:nth-of-type(1) {
      margin-right: 88px; }
  #about .why {
    padding-bottom: 100px; }
    #about .why h2, #about .why ul {
      display: inline-block;
      vertical-align: middle; }
    #about .why h2 {
      max-width: 180px;
      margin-right: 219px; }
    #about .why ul {
      max-width: 550px; }
    #about .why li {
      max-width: 223px;
      display: inline-block; }
      #about .why li.handmade, #about .why li.trust {
        margin-left: 85px; }
      #about .why li.uniqueness, #about .why li.trust {
        margin-top: 72px; }
      #about .why li.trust {
        vertical-align: top; }
      #about .why li p {
        margin-top: 16px;
        line-height: 1.5; }
  #about .our-jewelry {
    position: relative;
    padding-bottom: 54px;
    background-image: url(/images/zigzag.png);
    background-repeat: no-repeat;
    background-position: 512px 460px; }
    #about .our-jewelry img {
      display: block; }
    #about .our-jewelry h2 {
      display: inline-block;
      position: absolute;
      bottom: 107px;
      left: 511px;
      max-width: 233px; }

#customer-feedback {
  background-color: #faf9f9;
  padding: 73px 0 104px 0; }
  #customer-feedback .customer-feedback .feedback-heading {
    background-image: url(/images/zigzag.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center; }
    #customer-feedback .customer-feedback .feedback-heading h3 {
      padding-bottom: 53px; }
    #customer-feedback .customer-feedback .feedback-heading h5 {
      font-weight: 300;
      color: #b7b7b7;
      padding-top: 5px; }
  #customer-feedback .customer-feedback ul {
    max-width: 980px;
    padding-top: 124px; }
  #customer-feedback .customer-feedback li {
    width: 33%;
    display: inline-block;
    max-width: 285px;
    padding-right: 20px;
    vertical-align: top;
    background-image: url(/images/quote-icon.png);
    background-repeat: no-repeat;
    background-position: top left; }
    #customer-feedback .customer-feedback li.paul, #customer-feedback .customer-feedback li.oleg #customer-feedback .customer-feedback li.julia {
      padding-bottom: 85px; }
    #customer-feedback .customer-feedback li h5, #customer-feedback .customer-feedback li h6, #customer-feedback .customer-feedback li p {
      margin-left: 58px; }
    #customer-feedback .customer-feedback li h6 {
      padding: 10px 0; }

#news {
  padding: 100px 0; }
  #news .news-text {
    display: inline-block;
    max-width: 425px;
    width: 50%;
    line-height: 1.875; }
    #news .news-text:nth-of-type(1) {
      margin-right: 88px; }
  #news .photoblog {
    position: relative;
    padding-bottom: 54px;
    background-image: url(/images/zigzag.png);
    background-repeat: no-repeat;
    background-position: 0 460px; }
    #news .photoblog img {
      display: block; }
    #news .photoblog h2 {
      display: inline-block;
      position: absolute;
      bottom: 105px;
      left: 0;
      max-width: 233px; }

#footer {
  background-color: #141414;
  padding: 71px 0; }
  #footer .footer-content {
    padding-bottom: 71px; }
  #footer .footer-left {
    position: absolute; }
    #footer .footer-left ul {
      margin-top: 68px;
      columns: 2; }
    #footer .footer-left li {
      margin-bottom: 15px; }
      #footer .footer-left li a {
        color: #474747; }
        #footer .footer-left li a:hover {
          text-decoration: underline; }
  #footer .footer-right {
    position: relative;
    right: 0;
    text-align: right; }
    #footer .footer-right li {
      display: inline-block;
      margin-left: 12px; }
    #footer .footer-right p {
      color: #353434; }
      #footer .footer-right p:nth-of-type(1) {
        margin: 75px 0 5px 0; }

@media screen and (max-width: 1104px) {
  #header .header li {
    margin: 0px 10px; }

  #history .history h2 {
    margin: 0 100px 0 0; }

  #process, #work, #about, #customer-feedback, #news {
    padding: 80px 0; }

  #process ul {
    padding-top: 100px; }
  #process li {
    padding-right: 54px; }

  #work .work img, #work .work .work-text {
    width: 45%; }

  #about .why h2 {
    margin-right: 134px; }
  #about .about-text {
    width: 45%; }
    #about .about-text:nth-of-type(1) {
      margin-right: 75px; }
  #about .our-jewelry {
    background-position: 512px 426px; }
    #about .our-jewelry img {
      width: 100%; }

  #customer-feedback .customer-feedback ul {
    padding-top: 100px; }
  #customer-feedback .customer-feedback li {
    width: 30%; }

  #news .photoblog {
    background-position: 0 426px; }
    #news .photoblog img {
      width: 100%; }
  #news .news-text {
    width: 45%; }
    #news .news-text:nth-of-type(1) {
      margin-right: 75px; }

  #footer .footer-content {
    padding-bottom: 0; } }
@media screen and (max-width: 979px) {
  #header {
    padding-bottom: 190px; }
    #header .header ul {
      margin-left: 152px; }

  #history .history h2 {
    margin: 0 40px 0 0; }

  #history .history, #process, #work, #about, #customer-feedback, #news {
    padding: 50px 0; }

  #process ul {
    padding-top: 80px; }
  #process li {
    width: 30%;
    padding-right: 20px;
    vertical-align: top; }

  #work .work .work-text {
    margin-left: 60px; }

  #about .why h2 {
    margin-right: 33px; }
  #about .why ul {
    max-width: 460px; }
  #about .why li.handmade, #about .why li.trust {
    margin-left: 0px; }
  #about .about-text {
    width: 45%; }
    #about .about-text:nth-of-type(1) {
      margin-right: 60px; }
  #about .our-jewelry {
    background-image: none; }
    #about .our-jewelry .jewelry-image {
      overflow: hidden;
      position: relative;
      width: 100%; }
      #about .our-jewelry .jewelry-image:before {
        content: "";
        display: block;
        padding-top: 25%;
        width: 100%; }
      #about .our-jewelry .jewelry-image img {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%; }
    #about .our-jewelry h2 {
      bottom: auto;
      left: auto;
      position: relative;
      max-width: 100%;
      margin-top: 10px; }

  #news .photoblog {
    background-image: none; }
    #news .photoblog .photoblog-image {
      overflow: hidden;
      position: relative;
      width: 100%; }
      #news .photoblog .photoblog-image:before {
        content: "";
        display: block;
        padding-top: 25%;
        width: 100%; }
      #news .photoblog .photoblog-image img {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%; }
    #news .photoblog h2 {
      bottom: auto;
      left: auto;
      position: relative;
      max-width: 100%;
      margin-top: 10px; }
  #news .news-text {
    width: 45%; }
    #news .news-text:nth-of-type(1) {
      margin-right: 60px; }

  #footer {
    padding: 50px 0; }
    #footer .footer-left ul {
      margin-top: 40px; }
    #footer .footer-right p:nth-of-type(1) {
      margin: 40px 0 5px 0; }
    #footer .footer-content {
      padding-bottom: 25px; } }
@media screen and (max-width: 767px) {
  #header {
    padding-bottom: 100px; }
    #header .header ul {
      margin: 15px 0 0 15px; }
    #header .header h4:nth-of-type(2) {
      padding-top: 120px; }
    #header .header a {
      padding: 20px 0; }

  #history .history h2 {
    margin: 10px 0;
    width: 100%;
    text-align: center;
    max-width: 100%; }
  #history .history .history-paragraph {
    width: 100%; }

  #process ul {
    padding-top: 80px; }
  #process li {
    width: 40%;
    padding-bottom: 60px; }
    #process li.store, #process li.payment, #process li.thumbs-up {
      padding-right: 70px; }
    #process li.decoration, #process li.calendar, #process li.heart {
      padding-right: 0; }

  #work .work {
    text-align: center; }
    #work .work img, #work .work .work-text {
      width: 83%; }
    #work .work .work-text {
      margin: 0;
      background-position: center 62px; }
      #work .work .work-text h3 {
        padding-top: 10px; }
      #work .work .work-text h5 {
        margin: 64px auto 0 auto; }

  #about .why {
    text-align: center;
    padding-bottom: 50px; }
    #about .why h2 {
      max-width: 100%;
      width: 100%;
      margin: 0 0 10px 0; }
    #about .why ul {
      width: 80%; }
    #about .why li {
      max-width: 100%; }
      #about .why li.simplicity, #about .why li.handmade, #about .why li.uniqueness, #about .why li.trust {
        margin: 20px 0; }
  #about .about-text {
    max-width: 100%;
    width: 100%;
    margin: 10px 0; }
  #about .our-jewelry {
    text-align: center;
    padding-bottom: 0; }

  #customer-feedback .customer-feedback ul {
    padding-top: 80px; }
  #customer-feedback .customer-feedback li {
    width: 45%; }
    #customer-feedback .customer-feedback li.paul, #customer-feedback .customer-feedback li.oleg, #customer-feedback .customer-feedback li.julia, #customer-feedback .customer-feedback li.serdyuk, #customer-feedback .customer-feedback li.kulikov, #customer-feedback .customer-feedback li.andrey {
      padding-bottom: 60px; }
    #customer-feedback .customer-feedback li.paul, #customer-feedback .customer-feedback li.julia, #customer-feedback .customer-feedback li.kulikov {
      padding-right: 20px; }
    #customer-feedback .customer-feedback li.oleg, #customer-feedback .customer-feedback li.serdyuk, #customer-feedback .customer-feedback li.andrey {
      padding-right: 0; }

  #news .photoblog {
    text-align: center;
    padding-bottom: 0; }
  #news .news-text {
    max-width: 100%;
    width: 100%;
    margin: 10px 0; }

  #footer .footer-content {
    padding-bottom: 0; }
  #footer .footer-left, #footer .footer-right {
    position: static;
    text-align: center; }
  #footer .footer-left ul {
    margin-top: 10px; }
  #footer .footer-left li {
    margin-bottom: 10px; }
  #footer .footer-right ul {
    margin-top: 20px; }
  #footer .footer-right p:nth-of-type(1) {
    margin: 10px 0 5px 0; } }
@media screen and (max-width: 479px) {
  #header .header li {
    margin: 0 4px; }
  #header .header h1 {
    font-size: 48px; }
  #header .header button {
    width: 40%;
    vertical-align: top; }

  #process li.store, #process li.payment, #process li.thumbs-up {
    padding-right: 50px; }

  #customer-feedback .customer-feedback li p {
    margin-left: 15px; } }
@media screen and (max-width: 374px) {
  h2 {
    font-size: 40px; }

  #history .history, #process, #work, #about, #customer-feedback, #news {
    padding: 20px 0; }

  #header .header h1 {
    font-size: 40px; }
  #header .header h4:nth-of-type(2) {
    font-size: 22px; }
  #header .header .header-social {
    padding-top: 20px; }

  #process .process-heading {
    background-image: none; }
    #process .process-heading h3 {
      padding-bottom: 20px; }

  #customer-feedback .customer-feedback li h6 {
    margin-left: 15px; } }

/*# sourceMappingURL=styles.css.map */
