@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
body {
  background: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, a, button, img, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5 {
  font-weight: 700; }

h6, p {
  font-weight: 300;
  color: #b7b7b7; }

h1 {
  font-size: 58px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1; }

h2 {
  font-size: 48px;
  text-transform: uppercase;
  color: #464646; }

h3 {
  font-size: 30px;
  color: #464646; }

h4 {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff; }

h5 {
  font-size: 18px;
  color: #464646; }

h6 {
  font-size: 14px; }

p {
  font-size: 17px; }

button {
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  width: 163px;
  height: 56px;
  border-radius: 3px;
  border: none;
  background-color: #e92121;
  cursor: pointer; }

#header {
  background-image: url(/images/header-background.jpg);
  width: 100%;
  padding-bottom: 216px; }
  #header .header h4, #header .header h1, #header .header button, #header .header .decoration-btn {
    margin-left: 20px; }
  #header .header h4 {
    padding-top: 33px;
    display: inline-block; }
    #header .header h4:nth-of-type(2) {
      display: block;
      font-weight: 100;
      text-transform: none;
      padding-top: 242px; }
  #header .header ul {
    display: inline-block;
    margin-left: 317px; }
  #header .header li {
    display: inline-block;
    margin: 0 18px; }
  #header .header a {
    color: #fff; }
  #header .header h1 {
    padding: 22px 0;
    max-width: 570px; }
  #header .header .decoration-btn {
    border: 2px solid #fff;
    background: none;
    margin-left: 20px; }

#page-content {
  width: 100%; }

.header, #history, #process, .work, #about, .customer-feedback, #news, .footer {
  max-width: 980px;
  width: 90%;
  margin: 0 auto; }

#history .history {
  padding: 80px 0; }
  #history .history h2 {
    max-width: 300px;
    line-height: 1.25;
    display: inline-block;
    width: 45%;
    margin: 0 171px 0 15px;
    vertical-align: middle; }
  #history .history .history-paragraph {
    display: inline-block;
    width: 49%;
    vertical-align: middle; }
    #history .history .history-paragraph p {
      margin: 10px 0;
      line-height: 1.875; }

.span {
  width: 100%;
  height: 1px;
  background-color: #f1f1f1; }

#process {
  padding: 100px 0;
  background-image: url(/images/zigzag.png);
  background-repeat: no-repeat;
  background-position: center 159px; }
  #process .process-heading {
    text-align: center; }
    #process .process-heading h3 {
      padding-bottom: 53px; }
    #process .process-heading h5 {
      font-weight: 300;
      color: #b7b7b7;
      padding-top: 5px; }
  #process ul {
    max-width: 980px;
    padding-top: 124px; }
  #process li {
    width: 33%;
    display: inline-block;
    max-width: 250px;
    padding-right: 69px;
    padding-bottom: 74px; }
    #process li.store {
      background-image: url(/images/store-icon.png);
      background-repeat: no-repeat;
      background-position: top left; }
    #process li.decoration {
      background-image: url(/images/decoration-icon.png);
      background-repeat: no-repeat;
      background-position: top left; }
    #process li.payment {
      background-image: url(/images/payment-icon.png);
      background-repeat: no-repeat;
      background-position: top left; }
    #process li.calendar {
      background-image: url(/images/calendar-icon.png);
      background-repeat: no-repeat;
      background-position: top left;
      vertical-align: top; }
    #process li.thumbs-up {
      background-image: url(/images/thumbs-up-icon.png);
      background-repeat: no-repeat;
      background-position: top left; }
    #process li.heart {
      background-image: url(/images/heart-icon.png);
      background-repeat: no-repeat;
      background-position: top left;
      vertical-align: top; }
    #process li h5 {
      padding-top: 90px; }
    #process li p {
      padding-top: 30px; }

#work {
  background-color: #faf9f9;
  padding: 110px 0; }
  #work .work img, #work .work .work-text {
    display: inline-block;
    vertical-align: middle; }
  #work .work .work-text {
    width: 50%;
    margin-left: 75px;
    background-image: url(/images/zigzag.png);
    background-repeat: no-repeat;
    background-position: left 62px; }
    #work .work .work-text h5 {
      max-width: 400px;
      color: #b7b7b7;
      font-weight: 300;
      margin-top: 64px; }
    #work .work .work-text button {
      margin-top: 40px; }

#about {
  padding: 100px 0; }
  #about p {
    display: inline-block;
    max-width: 425px;
    width: 50%; }
    #about p:nth-of-type(1) {
      margin-right: 88px; }
  #about .why {
    padding-bottom: 100px; }
    #about .why h2, #about .why ul {
      display: inline-block;
      vertical-align: middle; }
    #about .why h2 {
      max-width: 180px;
      margin-right: 219px; }
    #about .why ul {
      max-width: 550px; }
    #about .why li {
      max-width: 223px;
      display: inline-block; }
      #about .why li.handmade, #about .why li.trust {
        margin-left: 85px; }
      #about .why li.uniqueness, #about .why li.trust {
        margin-top: 72px; }
      #about .why li.trust {
        vertical-align: top; }
      #about .why li p {
        margin-top: 16px; }
  #about .our-jewelry {
    background-image: url(/images/zigzag.png);
    background-repeat: no-repeat;
    background-position: 512px 460px; }
    #about .our-jewelry img {
      display: block; }
    #about .our-jewelry h2 {
      display: inline-block;
      position: relative;
      bottom: 181px;
      left: 514px;
      max-width: 233px; }

#customer-feedback {
  background-color: #faf9f9; }

#footer {
  background-color: #141414; }

/*# sourceMappingURL=styles.css.map */
